In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as stats
from sqlalchemy import create_engine

In [2]:
imdb_df = pd.read_csv("Resources/IMDB-Movie-Data.csv")
streaming_df = pd.read_csv("Resources/MoviesOnStreamingPlatforms_updated.csv")

In [3]:
imdb_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [4]:
year_title=imdb_df["Year"].astype(str) + "_" + imdb_df["Title"]
imdb_df["year_title"] =  year_title
imdb_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,year_title
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,2014_Guardians of the Galaxy
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,2012_Prometheus
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,2016_Split
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,2016_Sing
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,2016_Suicide Squad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,2015_Secret in Their Eyes
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,2007_Hostel: Part II
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,2008_Step Up 2: The Streets
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,2014_Search Party
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,2016_Nine Lives

In [5]:
#imdb_split_list = imdb_df.Actors.str.split(',').tolist()

imdb_stack_df = pd.DataFrame(imdb_df.Actors.str.split(',').tolist(), index=imdb_df.year_title).stack().reset_index()
imdb_stack_df

                        year_title  level_1                 0
0     2014_Guardians of the Galaxy        0       Chris Pratt
1     2014_Guardians of the Galaxy        1        Vin Diesel
2     2014_Guardians of the Galaxy        2    Bradley Cooper
3     2014_Guardians of the Galaxy        3       Zoe Saldana
4                  2012_Prometheus        0      Noomi Rapace
...                            ...      ...               ...
3994             2014_Search Party        3  Shannon Woodward
3995               2016_Nine Lives        0      Kevin Spacey
3996               2016_Nine Lives        1   Jennifer Garner
3997               2016_Nine Lives        2      Robbie Amell
3998               2016_Nine Lives        3      Cheryl Hines

[3999 rows x 3 columns]

In [6]:
imdb_stack_df = imdb_stack_df.drop(columns="level_1")
imdb_stack_df

                        year_title                 0
0     2014_Guardians of the Galaxy       Chris Pratt
1     2014_Guardians of the Galaxy        Vin Diesel
2     2014_Guardians of the Galaxy    Bradley Cooper
3     2014_Guardians of the Galaxy       Zoe Saldana
4                  2012_Prometheus      Noomi Rapace
...                            ...               ...
3994             2014_Search Party  Shannon Woodward
3995               2016_Nine Lives      Kevin Spacey
3996               2016_Nine Lives   Jennifer Garner
3997               2016_Nine Lives      Robbie Amell
3998               2016_Nine Lives      Cheryl Hines

[3999 rows x 2 columns]

In [7]:
imdb_stack_df

                        year_title                 0
0     2014_Guardians of the Galaxy       Chris Pratt
1     2014_Guardians of the Galaxy        Vin Diesel
2     2014_Guardians of the Galaxy    Bradley Cooper
3     2014_Guardians of the Galaxy       Zoe Saldana
4                  2012_Prometheus      Noomi Rapace
...                            ...               ...
3994             2014_Search Party  Shannon Woodward
3995               2016_Nine Lives      Kevin Spacey
3996               2016_Nine Lives   Jennifer Garner
3997               2016_Nine Lives      Robbie Amell
3998               2016_Nine Lives      Cheryl Hines

[3999 rows x 2 columns]

In [8]:
imdb_stack_df.columns = ["year_title", "Actor"]
imdb_stack_df

                        year_title             Actor
0     2014_Guardians of the Galaxy       Chris Pratt
1     2014_Guardians of the Galaxy        Vin Diesel
2     2014_Guardians of the Galaxy    Bradley Cooper
3     2014_Guardians of the Galaxy       Zoe Saldana
4                  2012_Prometheus      Noomi Rapace
...                            ...               ...
3994             2014_Search Party  Shannon Woodward
3995               2016_Nine Lives      Kevin Spacey
3996               2016_Nine Lives   Jennifer Garner
3997               2016_Nine Lives      Robbie Amell
3998               2016_Nine Lives      Cheryl Hines

[3999 rows x 2 columns]

In [ ]:
#Movie_actors = imdb_stack_df.set_index()

In [13]:
# This cell needs work

actors = imdb_stack_df.Actor.unique()
actors_df = pd.DataFrame(actors)
actors_df.columns = ["Actor"]
actors_df

                    Actor
0             Chris Pratt
1              Vin Diesel
2          Bradley Cooper
3             Zoe Saldana
4            Noomi Rapace
...                   ...
2389           Adam Pally
2390   Thomas Middleditch
2391     Shannon Woodward
2392         Kevin Spacey
2393         Cheryl Hines

[2394 rows x 1 columns]

In [14]:
actors_df = actors_df.sort_values(by="Actor")
actors_df

                  Actor
1723            50 Cent
947       A.C. Peterson
1348        AJ Michalka
2371         Aamir Khan
830         Aaron Burns
...                 ...
802   Zach Galifianakis
469      Zachary Gordon
654      Zachary Quinto
118         Zoey Deutch
92      Zooey Deschanel

[2394 rows x 1 columns]

In [17]:
actors_df.reset_index(drop=True)
actors_df

                  Actor
1723            50 Cent
947       A.C. Peterson
1348        AJ Michalka
2371         Aamir Khan
830         Aaron Burns
...                 ...
802   Zach Galifianakis
469      Zachary Gordon
654      Zachary Quinto
118         Zoey Deutch
92      Zooey Deschanel

[2394 rows x 1 columns]

In [42]:
actors_df= actors_df.set_index(["Actor"], drop=True)

In [43]:
actors_df

Empty DataFrame
Columns: []
Index: [ 50 Cent,  A.C. Peterson,  AJ Michalka,  Aamir Khan,  Aaron Burns,  Aaron Eckhart,  Aaron Paul,  Aaron Taylor-Johnson,  Aaron Yoo,  Aasif Mandvi,  Abbie Cornish,  Abigail Breslin,  Adam Brody,  Adam Campbell,  Adam Devine,  Adam Driver,  Adam G. Sevani,  Adam Levine,  Addison Timlin,  Adewale Akinnuoye-Agbaje,  Adil Hussain,  Adria Arjona,  Adrian Grenier,  Adrian Martinez,  Adrianne Palicki,  AdÃ¨le Exarchopoulos,  Aidan Gillen,  Aidan Turner,  Aiden Longworth,  Akihiro Kitamura,  Alain Moussi,  Alan Alda,  Alan Arkin,  Alan Rickman,  Alan Tudyk,  Albert Brooks,  Albert Finney,  Alden Ehrenreich,  Aldis Hodge,  Alec Baldwin,  Aleksandr Armer,  Alessandro Nivola,  Alex Essoe,  Alex Fisher,  Alex Pettyfer,  Alex R. Hibbert,  Alexander SkarsgÃ¥rd,  Alexandra Daddario,  Alexis Clagett,  Alexis Dziena,  Alfie Allen,  Alfre Woodard,  Alfred Molina,  Ali Larter,  Alia Shawkat,  Alice Braga,  Alice Eve,  Alicia Vikander,  Alison Brie,  Alison Pill,  Alison Sudol,  Alistair Abell,  Allen Leech,  Allison Janney,  Allison Tolman,  Alon Aboutboul,  Alyson Hannigan,  Amanda Bynes,  Amanda Righetti,  Amanda Seyfried,  Amara Miller,  Amber Heard,  Amber Tamblyn,  America Ferrera,  Amy Adams,  Amy Ryan,  Ana Wagener,  Ana de Armas,  Analeigh Tipton,  Andrea Riseborough,  Andrea Whitburn,  Andrew Garfield,  Andrew Howard,  Andrew Scott,  Andrew Simpson,  AndrÃ© Marcon,  Andy Buckley,  Andy Garcia,  Andy Lau,  Andy Samberg,  Andy Serkis,  Ang Phula Sherpa,  Angeliki Papoulia,  Angelina Jolie,  Angelique Pereira,  Angelo Josue Lozano Corzo,  Angourie Rice,  Anika Noni Rose,  Anil Kapoor,  Anna Camp, ...]

[2394 rows x 0 columns]

In [44]:
Actors_unique = actors_df

In [ ]:
streaming_df

In [ ]:
streaming_df.info()

In [18]:
year_title=streaming_df["Year"].astype(str) + "_" + streaming_df["Title"]
streaming_df["year_title"] =  year_title
streaming_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,year_title
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,2010_Inception
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,1999_The Matrix
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,2018_Avengers: Infinity War
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1985_Back to the Future
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,"1966_The Good, the Bad and the Ugly"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,1980_The Ghosts of Buxley Hall
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,2001_The Poof Point
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN,2013_Sharks of Lost Island
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN,2017_Man Among Cheetahs
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0,1950_In Beaver Valley

In [19]:
merge_df = pd.merge(imdb_df, streaming_df, how="inner", on="year_title")

In [23]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 230
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                231 non-null    int64
 1   Title_x             231 non-null    object
 2   Genre               231 non-null    object
 3   Description         231 non-null    object
 4   Director            231 non-null    object
 5   Actors              231 non-null    object
 6   Year_x              231 non-null    int64
 7   Runtime (Minutes)   231 non-null    int64
 8   Rating              231 non-null    float64
 9   Votes               231 non-null    int64
 10  Revenue (Millions)  187 non-null    float64
 11  Metascore           221 non-null    float64
 12  year_title          231 non-null    object
 13  Unnamed: 0          231 non-null    int64
 14  ID                  231 non-null    int64
 15  Title_y             231 non-null    object
 16  Year_y              231 non-null    int64
 17  Age                 211 non-null    object
 18  IMDb                231 non-null    float64
 19  Rotten Tomatoes     223 non-null    object
 20  Netflix             231 non-null    int64
 21  Hulu                231 non-null    int64
 22  Prime Video         231 non-null    int64
 23  Disney+             231 non-null    int64
 24  Type                231 non-null    int64
 25  Directors           228 non-null    object
 26  Genres              231 non-null    object
 27  Country             231 non-null    object
 28  Language            230 non-null    object
 29  Runtime             231 non-null    float64
dtypes: float64(5), int64(12), object(13)
memory usage: 55.9+ KB

In [27]:
merge_clean_df = merge_df.drop(columns=["Rank", "Actors", "Unnamed: 0", "ID", "Title_y", "Year_y", "IMDb", "Type", "Directors", "Genres", "Runtime"])

In [ ]:
#merge_left_df = pd.merge(imdb_df, streaming_df, how="left", on="year_title")

In [28]:
merge_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 230
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title_x             231 non-null    object
 1   Genre               231 non-null    object
 2   Description         231 non-null    object
 3   Director            231 non-null    object
 4   Year_x              231 non-null    int64
 5   Runtime (Minutes)   231 non-null    int64
 6   Rating              231 non-null    float64
 7   Votes               231 non-null    int64
 8   Revenue (Millions)  187 non-null    float64
 9   Metascore           221 non-null    float64
 10  year_title          231 non-null    object
 11  Age                 211 non-null    object
 12  Rotten Tomatoes     223 non-null    object
 13  Netflix             231 non-null    int64
 14  Hulu                231 non-null    int64
 15  Prime Video         231 non-null    int64
 16  Disney+             231 non-null    int64
 17  Country             231 non-null    object
 18  Language            230 non-null    object
dtypes: float64(3), int64(7), object(9)
memory usage: 36.1+ KB

In [29]:
merge_clean_df = merge_clean_df.rename(columns={"Title_x":"Title", "Year_x":"Year"})
merge_clean_df

,Title,Genre,Description,Director,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,year_title,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Country,Language
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,2014,121,8.1,757074,333.13,76.0,2014_Guardians of the Galaxy,13+,91%,0,0,0,1,United States,English
1,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,2016,89,6.4,2490,NaN,71.0,2016_Mindhorn,18+,91%,1,0,0,0,United Kingdom,English
2,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,2016,141,7.1,7188,8.01,78.0,2016_The Lost City of Z,13+,87%,0,0,1,0,United States,"English,Portuguese,Tupi,Spanish,German"
3,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,2016,107,7.7,118151,248.75,81.0,2016_Moana,7+,95%,0,0,0,1,United States,English
4,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,2016,109,6.4,8612,2.87,70.0,2016_Colossal,18+,81%,0,1,0,0,"Canada,United States,Spain,South Korea","English,Korean"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,2016,92,5.0,2229,NaN,38.0,2016_Amateur Night,NaN,NaN,0,0,1,0,United States,English
227,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,2009,92,6.6,129708,45.80,44.0,2009_Underworld: Rise of the Lycans,18+,30%,1,0,0,0,"United States,New Zealand",English
228,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,2010,97,5.9,140900,60.13,37.0,2010_Resident Evil: Afterlife,18+,22%,1,0,0,0,"Germany,France,United States,Canada,United Kin...","English,Japanese,Spanish"
229,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,2015,111,6.2,27585,NaN,45.0,2015_Secret in Their Eyes,13+,39%,1,0,0,0,"United States,United Kingdom,Spain,South Korea",English
230,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,2014,93,5.6,4881,NaN,22.0,2014_Search Party,18+,11%,1,0,0,0,United States,English

In [30]:
merge_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 230
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               231 non-null    object
 1   Genre               231 non-null    object
 2   Description         231 non-null    object
 3   Director            231 non-null    object
 4   Year                231 non-null    int64
 5   Runtime (Minutes)   231 non-null    int64
 6   Rating              231 non-null    float64
 7   Votes               231 non-null    int64
 8   Revenue (Millions)  187 non-null    float64
 9   Metascore           221 non-null    float64
 10  year_title          231 non-null    object
 11  Age                 211 non-null    object
 12  Rotten Tomatoes     223 non-null    object
 13  Netflix             231 non-null    int64
 14  Hulu                231 non-null    int64
 15  Prime Video         231 non-null    int64
 16  Disney+             231 non-null    int64
 17  Country             231 non-null    object
 18  Language            230 non-null    object
dtypes: float64(3), int64(7), object(9)
memory usage: 36.1+ KB

In [31]:
Movies = merge_clean_df[["year_title", "Title", "Genre", "Description", "Director", "Year", "Runtime (Minutes)", "Rating", "Votes", "Revenue (Millions)", "Metascore", "Age", "Rotten Tomatoes", "Netflix", "Hulu", "Prime Video", "Disney+", "Country", "Language" ]]

In [32]:
Movies

,year_title,Title,Genre,Description,Director,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Country,Language
0,2014_Guardians of the Galaxy,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,2014,121,8.1,757074,333.13,76.0,13+,91%,0,0,0,1,United States,English
1,2016_Mindhorn,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,2016,89,6.4,2490,NaN,71.0,18+,91%,1,0,0,0,United Kingdom,English
2,2016_The Lost City of Z,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,2016,141,7.1,7188,8.01,78.0,13+,87%,0,0,1,0,United States,"English,Portuguese,Tupi,Spanish,German"
3,2016_Moana,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,2016,107,7.7,118151,248.75,81.0,7+,95%,0,0,0,1,United States,English
4,2016_Colossal,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,2016,109,6.4,8612,2.87,70.0,18+,81%,0,1,0,0,"Canada,United States,Spain,South Korea","English,Korean"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,2016_Amateur Night,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,2016,92,5.0,2229,NaN,38.0,NaN,NaN,0,0,1,0,United States,English
227,2009_Underworld: Rise of the Lycans,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,2009,92,6.6,129708,45.80,44.0,18+,30%,1,0,0,0,"United States,New Zealand",English
228,2010_Resident Evil: Afterlife,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,2010,97,5.9,140900,60.13,37.0,18+,22%,1,0,0,0,"Germany,France,United States,Canada,United Kin...","English,Japanese,Spanish"
229,2015_Secret in Their Eyes,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,2015,111,6.2,27585,NaN,45.0,13+,39%,1,0,0,0,"United States,United Kingdom,Spain,South Korea",English
230,2014_Search Party,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,2014,93,5.6,4881,NaN,22.0,18+,11%,1,0,0,0,United States,English

In [37]:
Movies.dtypes

year_title             object
Title                  object
Genre                  object
Description            object
Director               object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
Age                    object
Rotten Tomatoes        object
Netflix                 int64
Hulu                    int64
Prime Video             int64
Disney+                 int64
Country                object
Language               object
dtype: object

In [40]:
Movies = Movies.set_index(["year_title"], drop=True)

In [41]:
Movies

,Title,Genre,Description,Director,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Country,Language
year_title,,,,,,,,,,,,,,,,,,
2014_Guardians of the Galaxy,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,2014,121,8.1,757074,333.13,76.0,13+,91%,0,0,0,1,United States,English
2016_Mindhorn,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,2016,89,6.4,2490,NaN,71.0,18+,91%,1,0,0,0,United Kingdom,English
2016_The Lost City of Z,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,2016,141,7.1,7188,8.01,78.0,13+,87%,0,0,1,0,United States,"English,Portuguese,Tupi,Spanish,German"
2016_Moana,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,2016,107,7.7,118151,248.75,81.0,7+,95%,0,0,0,1,United States,English
2016_Colossal,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,2016,109,6.4,8612,2.87,70.0,18+,81%,0,1,0,0,"Canada,United States,Spain,South Korea","English,Korean"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016_Amateur Night,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,2016,92,5.0,2229,NaN,38.0,NaN,NaN,0,0,1,0,United States,English
2009_Underworld: Rise of the Lycans,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,2009,92,6.6,129708,45.80,44.0,18+,30%,1,0,0,0,"United States,New Zealand",English
2010_Resident Evil: Afterlife,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,2010,97,5.9,140900,60.13,37.0,18+,22%,1,0,0,0,"Germany,France,United States,Canada,United Kin...","English,Japanese,Spanish"
2015_Secret in Their Eyes,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,2015,111,6.2,27585,NaN,45.0,13+,39%,1,0,0,0,"United States,United Kingdom,Spain,South Korea",English
2014_Search Party,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,2014,93,5.6,4881,NaN,22.0,18+,11%,1,0,0,0,United States,English

In [ ]:
# Create a dataframe of just actors
actors_df = pd.DataFrame(imdb_stack_df ["Actor"])
actors_df

In [ ]:
# Remove duplicates so only one record for each actor
actors_df = actors_df.drop_duplicates()
actors_df

In [18]:
# Create a dataframe for just directors
directors_df = pd.DataFrame(imdb_df["Director"])
directors_df

                 Director
0              James Gunn
1            Ridley Scott
2      M. Night Shyamalan
3    Christophe Lourdelet
4              David Ayer
..                    ...
995             Billy Ray
996              Eli Roth
997            Jon M. Chu
998        Scot Armstrong
999      Barry Sonnenfeld

[1000 rows x 1 columns]

In [19]:
# Remove duplicates so only one record for each director
directors_df = directors_df.drop_duplicates()
directors_df

                 Director
0              James Gunn
1            Ridley Scott
2      M. Night Shyamalan
3    Christophe Lourdelet
4              David Ayer
..                    ...
990    Patrick Tatopoulos
991            Aamir Khan
994       Nima Nourizadeh
995             Billy Ray
998        Scot Armstrong

[644 rows x 1 columns]