In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as stats
from sqlalchemy import create_engine

In [2]:
imdb_df = pd.read_csv("Resources/IMDB-Movie-Data.csv")
streaming_df = pd.read_csv("Resources/MoviesOnStreamingPlatforms_updated.csv")

In [3]:
imdb_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [4]:
year_title=imdb_df["Year"].astype(str) + "_" + imdb_df["Title"]
imdb_df["year_title"] =  year_title
imdb_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,year_title
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,2014_Guardians of the Galaxy
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,2012_Prometheus
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,2016_Split
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,2016_Sing
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,2016_Suicide Squad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,2015_Secret in Their Eyes
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,2007_Hostel: Part II
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,2008_Step Up 2: The Streets
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,2014_Search Party
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,2016_Nine Lives

In [5]:
#imdb_split_list = imdb_df.Actors.str.split(',').tolist()

imdb_stack_df = pd.DataFrame(imdb_df.Actors.str.split(',').tolist(), index=imdb_df.year_title).stack().reset_index()
imdb_stack_df

                        year_title  level_1                 0
0     2014_Guardians of the Galaxy        0       Chris Pratt
1     2014_Guardians of the Galaxy        1        Vin Diesel
2     2014_Guardians of the Galaxy        2    Bradley Cooper
3     2014_Guardians of the Galaxy        3       Zoe Saldana
4                  2012_Prometheus        0      Noomi Rapace
...                            ...      ...               ...
3994             2014_Search Party        3  Shannon Woodward
3995               2016_Nine Lives        0      Kevin Spacey
3996               2016_Nine Lives        1   Jennifer Garner
3997               2016_Nine Lives        2      Robbie Amell
3998               2016_Nine Lives        3      Cheryl Hines

[3999 rows x 3 columns]

In [6]:
imdb_stack_df = imdb_stack_df.drop(columns="level_1")
imdb_stack_df

                        year_title                 0
0     2014_Guardians of the Galaxy       Chris Pratt
1     2014_Guardians of the Galaxy        Vin Diesel
2     2014_Guardians of the Galaxy    Bradley Cooper
3     2014_Guardians of the Galaxy       Zoe Saldana
4                  2012_Prometheus      Noomi Rapace
...                            ...               ...
3994             2014_Search Party  Shannon Woodward
3995               2016_Nine Lives      Kevin Spacey
3996               2016_Nine Lives   Jennifer Garner
3997               2016_Nine Lives      Robbie Amell
3998               2016_Nine Lives      Cheryl Hines

[3999 rows x 2 columns]

In [7]:
imdb_stack_df

                        year_title                 0
0     2014_Guardians of the Galaxy       Chris Pratt
1     2014_Guardians of the Galaxy        Vin Diesel
2     2014_Guardians of the Galaxy    Bradley Cooper
3     2014_Guardians of the Galaxy       Zoe Saldana
4                  2012_Prometheus      Noomi Rapace
...                            ...               ...
3994             2014_Search Party  Shannon Woodward
3995               2016_Nine Lives      Kevin Spacey
3996               2016_Nine Lives   Jennifer Garner
3997               2016_Nine Lives      Robbie Amell
3998               2016_Nine Lives      Cheryl Hines

[3999 rows x 2 columns]

In [8]:
imdb_stack_df.columns = ["year_title", "Actor"]
imdb_stack_df

                        year_title             Actor
0     2014_Guardians of the Galaxy       Chris Pratt
1     2014_Guardians of the Galaxy        Vin Diesel
2     2014_Guardians of the Galaxy    Bradley Cooper
3     2014_Guardians of the Galaxy       Zoe Saldana
4                  2012_Prometheus      Noomi Rapace
...                            ...               ...
3994             2014_Search Party  Shannon Woodward
3995               2016_Nine Lives      Kevin Spacey
3996               2016_Nine Lives   Jennifer Garner
3997               2016_Nine Lives      Robbie Amell
3998               2016_Nine Lives      Cheryl Hines

[3999 rows x 2 columns]

In [10]:
streaming_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0