In [1]:
#Import modules

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as stats


from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, func, Column, Integer, String, Boolean, Numeric, Float
Base = declarative_base()

# Extract

In [2]:
# Import data from csvs.

imdb_df = pd.read_csv("Resources/IMDB-Movie-Data.csv")
streaming_df = pd.read_csv("Resources/MoviesOnStreamingPlatforms_updated.csv")

In [63]:
imdb_df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,year_title
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,2014_Guardians of the Galaxy
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,2012_Prometheus
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,2016_Split
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,2016_Sing
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,2016_Suicide Squad

# Transform

In [64]:
# Combine year and title to create unique field year_title.

year_title=imdb_df["Year"].astype(str) + "_" + imdb_df["Title"]
imdb_df["year_title"] =  year_title
imdb_df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,year_title
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,2014_Guardians of the Galaxy
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,2012_Prometheus
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,2016_Split
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,2016_Sing
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,2016_Suicide Squad

In [65]:
# Giving actors their own row, for each movie.

imdb_stack_df = pd.DataFrame(imdb_df.Actors.str.split(',').tolist(), index=imdb_df.year_title).stack().reset_index()
imdb_stack_df.head()

                     year_title  level_1                0
0  2014_Guardians of the Galaxy        0      Chris Pratt
1  2014_Guardians of the Galaxy        1       Vin Diesel
2  2014_Guardians of the Galaxy        2   Bradley Cooper
3  2014_Guardians of the Galaxy        3      Zoe Saldana
4               2012_Prometheus        0     Noomi Rapace

In [66]:
# Remove extaneous column

imdb_stack_df = imdb_stack_df.drop(columns="level_1")
imdb_stack_df.head()

                     year_title                0
0  2014_Guardians of the Galaxy      Chris Pratt
1  2014_Guardians of the Galaxy       Vin Diesel
2  2014_Guardians of the Galaxy   Bradley Cooper
3  2014_Guardians of the Galaxy      Zoe Saldana
4               2012_Prometheus     Noomi Rapace

In [68]:
# Rename the Actor column.

imdb_stack_df.columns = ["year_title", "Actor"]
imdb_stack_df.head()

                     year_title            Actor
0  2014_Guardians of the Galaxy      Chris Pratt
1  2014_Guardians of the Galaxy       Vin Diesel
2  2014_Guardians of the Galaxy   Bradley Cooper
3  2014_Guardians of the Galaxy      Zoe Saldana
4               2012_Prometheus     Noomi Rapace

In [69]:
# Create a dataframe of unique actors. 

actors = imdb_stack_df.Actor.unique()
actors_df = pd.DataFrame(actors)
actors_df.columns = ["Actor"]
actors_df.head()

             Actor
0      Chris Pratt
1       Vin Diesel
2   Bradley Cooper
3      Zoe Saldana
4     Noomi Rapace

In [70]:
# Sort the actor names

actors_df = actors_df.sort_values(by="Actor")
actors_df.head()

               Actor
1723         50 Cent
947    A.C. Peterson
1348     AJ Michalka
2371      Aamir Khan
830      Aaron Burns

In [71]:
# Viewing streaming data

streaming_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,year_title
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,2010_Inception
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,1999_The Matrix
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,2018_Avengers: Infinity War
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1985_Back to the Future
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,"1966_The Good, the Bad and the Ugly"

In [73]:
# Combined year and title together into one unique field year_title for the streaming data.

year_title=streaming_df["Year"].astype(str) + "_" + streaming_df["Title"]
streaming_df["year_title"] =  year_title
streaming_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime,year_title
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,2010_Inception
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,1999_The Matrix
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,2018_Avengers: Infinity War
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1985_Back to the Future
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,"1966_The Good, the Bad and the Ugly"

In [74]:
# Merged the streaming dataframe and imdb dataframe on year_title.

merge_df = pd.merge(imdb_df, streaming_df, how="inner", on="year_title")
merge_df.head()

,Rank,Title_x,Genre,Description,Director,Actors,Year_x,Runtime (Minutes),Rating,Votes,...,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,...,0,0,0,1,0,James Gunn,"Action,Adventure,Comedy,Sci-Fi",United States,English,121.0
1,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,...,1,0,0,0,0,Sean Foley,Comedy,United Kingdom,English,89.0
2,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,...,0,0,1,0,0,James Gray,"Biography,Drama,History",United States,"English,Portuguese,Tupi,Spanish,German",141.0
3,14,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",2016,107,7.7,118151,...,0,0,0,1,0,"Ron Clements,John Musker,Don Hall,Chris Williams","Animation,Adventure,Comedy,Family,Fantasy,Musical",United States,English,107.0
4,15,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,"Anne Hathaway, Jason Sudeikis, Austin Stowell,...",2016,109,6.4,8612,...,0,1,0,0,0,Nacho Vigalondo,"Comedy,Drama,Fantasy,Sci-Fi,Thriller","Canada,United States,Spain,South Korea","English,Korean",109.0

In [21]:
# Dropped unnecessary columns.

merge_clean_df = merge_df.drop(columns=["Rank", "Actors", "Unnamed: 0", "ID", "Title_y", "Year_y", "IMDb", "Type", "Directors", "Genres", "Runtime"])

In [75]:
# Renaming title and year columns.

merge_clean_df = merge_clean_df.rename(columns={"Title_x":"Title", "Year_x":"Year"})
merge_clean_df.head()

,Title,Genre,Description,Director,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,year_title,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Country,Language
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,2014,121,8.1,757074,333.13,76.0,2014_Guardians of the Galaxy,13+,91%,0,0,0,1,United States,English
1,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,2016,89,6.4,2490,NaN,71.0,2016_Mindhorn,18+,91%,1,0,0,0,United Kingdom,English
2,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,2016,141,7.1,7188,8.01,78.0,2016_The Lost City of Z,13+,87%,0,0,1,0,United States,"English,Portuguese,Tupi,Spanish,German"
3,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,2016,107,7.7,118151,248.75,81.0,2016_Moana,7+,95%,0,0,0,1,United States,English
4,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,2016,109,6.4,8612,2.87,70.0,2016_Colossal,18+,81%,0,1,0,0,"Canada,United States,Spain,South Korea","English,Korean"

In [26]:
# Reordering the columns to get year_title at the beginning.

movies_df = merge_clean_df[["year_title", "Title", "Genre", "Description", "Director", "Year", "Runtime (Minutes)", "Rating", "Votes", "Revenue (Millions)", "Metascore", "Age", "Rotten Tomatoes", "Netflix", "Hulu", "Prime Video", "Disney+", "Country", "Language" ]]

In [76]:
# Viewing the reordered dataframe.

movies_df.head()

,year_title,Title,Genre,Description,Director,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Country,Language
0,2014_Guardians of the Galaxy,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,2014,121,8.1,757074,333.13,76.0,13+,91%,0,0,0,1,United States,English
1,2016_Mindhorn,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,2016,89,6.4,2490,NaN,71.0,18+,91%,1,0,0,0,United Kingdom,English
2,2016_The Lost City of Z,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,2016,141,7.1,7188,8.01,78.0,13+,87%,0,0,1,0,United States,"English,Portuguese,Tupi,Spanish,German"
3,2016_Moana,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,2016,107,7.7,118151,248.75,81.0,7+,95%,0,0,0,1,United States,English
4,2016_Colossal,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,2016,109,6.4,8612,2.87,70.0,18+,81%,0,1,0,0,"Canada,United States,Spain,South Korea","English,Korean"

# Load

In [45]:
# Connecting with database.

engine = create_engine("postgres://postgres:postgres@localhost:5433")
conn = engine.connect()
conn.execute("commit")
conn.execute("create database streaming_actors")
conn.close()

In [46]:
# Connecting to newly created streaming_actors database.

engine = create_engine("postgres://postgres:postgres@localhost:5433/streaming_actors")
conn = engine.connect()

In [51]:
# Creating movie table.

class Movie(Base):
    __tablename__ = 'movie'
    year_title = Column(String, primary_key=True)
    title = Column(String)
    genre = Column(String)
    description = Column(String)
    director = Column(String)
    year = Column(Integer)
    runtime = Column(Integer)
    rating = Column(Float)
    votes = Column(Integer)
    revenue_millions = Column(Float)
    metascore = Column(Float)
    age = Column(String)
    rotten_tomatoes = Column(String)
    netflix = Column(Integer)
    hulu = Column(Integer)
    prime_video = Column(Integer)
    disney_plus = Column(Integer)
    country = Column(String)
    language = Column(String)

c:\users\potas\anaconda3\envs\pythondata\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Movie, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)

In [52]:
# Creating actors table.

class Actors(Base):
    __tablename__ = 'actors'
    actor = Column(String, primary_key=True)

c:\users\potas\anaconda3\envs\pythondata\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:129: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Actors, and will be replaced in the string-lookup table.
  % (item.__module__, item.__name__)

InvalidRequestError: Table 'actors' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [35]:
# Creating movie_actors table.

class MovieActors(Base):
    __tablename__ = 'movie_actors'
    actor = Column(String, primary_key=True)
    year_title = Column(String, primary_key=True)

In [53]:
# This is where we create our tables in the database.

Base.metadata.create_all(engine)

In [54]:
# The ORM's "handle" to the database is the Session.

from sqlalchemy.orm import Session
session = Session(bind=engine)

In [56]:
# Populating the movie table. 

for index, row in movies_df.iterrows():
    session.add(Movie(year_title=row[0], title=row[1], genre=row[2], description=row[3], director=row[4], year=row[5], \
                      runtime=row[6], rating=row[7], votes=row[8], revenue_millions=row[9], metascore=row[10], \
                      age=row[11], rotten_tomatoes=row[12], netflix=row[13], hulu=row[14], prime_video=row[15], \
                      disney_plus=row[16], country=row[17], language=row[18]))

In [60]:
# Populating the actors table

for index, row in actors_df.iterrows():
    session.add(Actors(actor=row[0]))

In [61]:
# Populating the movie_actors table

for index, row in imdb_stack_df.iterrows():
    session.add(MovieActors(year_title=row[0], actor=row[1]))

In [62]:
# Commit transaction to the database.

session.commit()

# Queries

In [88]:
# Query to return everything in the movie table.

all_movie_result = engine.execute("SELECT * FROM movie")
all_movie_result_df = pd.DataFrame(all_movie_result)
all_movie_result_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,2014_Guardians of the Galaxy,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,2014,121,8.1,757074,333.13,76.0,13+,91%,0,0,0,1,United States,English
1,2016_Mindhorn,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,2016,89,6.4,2490,NaN,71.0,18+,91%,1,0,0,0,United Kingdom,English
2,2016_The Lost City of Z,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,2016,141,7.1,7188,8.01,78.0,13+,87%,0,0,1,0,United States,"English,Portuguese,Tupi,Spanish,German"
3,2016_Moana,Moana,"Animation,Adventure,Comedy","In Ancient Polynesia, when a terrible curse in...",Ron Clements,2016,107,7.7,118151,248.75,81.0,7+,95%,0,0,0,1,United States,English
4,2016_Colossal,Colossal,"Action,Comedy,Drama",Gloria is an out-of-work party girl forced to ...,Nacho Vigalondo,2016,109,6.4,8612,2.87,70.0,18+,81%,0,1,0,0,"Canada,United States,Spain,South Korea","English,Korean"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,2016_Amateur Night,Amateur Night,Comedy,Guy Carter is an award-winning graduate studen...,Lisa Addario,2016,92,5.0,2229,NaN,38.0,NaN,NaN,0,0,1,0,United States,English
227,2009_Underworld: Rise of the Lycans,Underworld: Rise of the Lycans,"Action,Adventure,Fantasy",An origins story centered on the centuries-old...,Patrick Tatopoulos,2009,92,6.6,129708,45.80,44.0,18+,30%,1,0,0,0,"United States,New Zealand",English
228,2010_Resident Evil: Afterlife,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,2010,97,5.9,140900,60.13,37.0,18+,22%,1,0,0,0,"Germany,France,United States,Canada,United Kin...","English,Japanese,Spanish"
229,2015_Secret in Their Eyes,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,2015,111,6.2,27585,NaN,45.0,13+,39%,1,0,0,0,"United States,United Kingdom,Spain,South Korea",English
230,2014_Search Party,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,2014,93,5.6,4881,NaN,22.0,18+,11%,1,0,0,0,United States,English

In [89]:
# The query returning the movies of Brad Pitt in our data.

brad_pitt_movies = engine.execute("SELECT a.actor, m.title FROM actors \
    AS a INNER JOIN movie_actors AS ma ON a.actor = ma.actor \
    INNER JOIN movie AS m ON ma.year_title = m.year_title \
    WHERE a.actor = 'Brad Pitt'")
brad_pitt_movies_df = pd.DataFrame(brad_pitt_movies, columns=['actor', 'movie'])
brad_pitt_movies_df

       actor                                movie
0  Brad Pitt                 Inglourious Basterds
1  Brad Pitt  The Curious Case of Benjamin Button
2  Brad Pitt                                Babel

In [90]:
# The query returning movies streamed on Disney+.

disney_plus_movies = engine.execute("SELECT title FROM movie WHERE disney_plus = 1")
disney_plus_df = pd.DataFrame(disney_plus_movies, columns=['movie'])
disney_plus_df

                                          movie
0                       Guardians of the Galaxy
1                                         Moana
2                    Captain America: Civil War
3                                Doctor Strange
4   Pirates of the Caribbean: On Stranger Tides
5                                      Zootopia
6      Pirates of the Caribbean: At World's End
7                                  The Avengers
8    Pirates of the Caribbean: Dead Man's Chest
9                                        Avatar
10                      Avengers: Age of Ultron
11                                         Thor
12                                 Finding Dory
13                         Diary of a Wimpy Kid
14                                      The BFG
15                                       Frozen
16                                      Ant-Man
17           Captain America: The First Avenger
18                         Thor: The Dark World
19          Captain America: The Winter Soldier
20                                         Cars
21                                Pete's Dragon
22                                  John Carter
23                                      Tangled
24                          Monsters University
25                                   Big Hero 6
26                                   Iron Man 2
27                                  Ratatouille
28                                           Up
29                               Wreck-It Ralph
30                             The Finest Hours
31                                        Brave
32                                       WALL·E
33                                  Toy Story 3
34                                       Cars 2
35                    The Princess and the Frog
36                             Saving Mr. Banks
37                               Queen of Katwe